<%- include('partials/header')%>

<%- include('partials/nav')%>
<div class="container bg-dark p-5">
    <h1> This is Homepage</h1>
    <hr>
    <a class="btn btn-primary" href="/signup">Sign Up</a>
    
    <a class="btn btn-primary " href="/signin">Sign In</a>
</div>
<div class="p-3 mb-2 bg-dark text-white">
</div>
<div class="p-3 mb-2 bg-dark text-white">
</div>
  <div class="p-3 mb-2 bg-dark text-white">
</div>
<div class="p-3 mb-2 bg-dark text-white">
</div>
<div class="p-3 mb-2 bg-dark text-white">
</div>

<%- include('partials/footer')%>
